<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAO3pNuqKDDAq1w2kRFvAq5oAFBrYwH1Qg</string>
	<key>GCM_SENDER_ID</key>
	<string>270169112241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.telegram</string>
	<key>PROJECT_ID</key>
	<string>telegaram-d2593</string>
	<key>STORAGE_BUCKET</key>
	<string>telegaram-d2593.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270169112241:ios:e18c87dae8d918b1e92c90</string>
</dict>
</plist>